@page
@model HomePageModel
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/util.css">
    <title>Home Page</title>
</head>
<body>
    <div class="limiter">
        <div class="container-home100 wrap-content">
            <!--<nav>
        <li><a href="HomePage.html">Home</a></li>
        <li><a href="Events.html">Events</a></li>
        <li><a href="Registration.html">Registration</a></li>
        <div class="dropdown">
            <button class="dropbtn">
                Account
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="Signup.html">Sign Up</a>
                <a href="LoginPage.html">Login</a>
                <a href="#">Account Details</a>
            </div>
        </div>
    </nav>-->
            <header>
                <h1>EventRegister</h1>
            </header>
            <div class="wrap-home100">
                <h2><a href="Events.html">Upcoming Events</a></h2>
                <div>
                    <p>
                        View a list of all our upcoming events, including
                        events details such as time and location.
                    </p>
                </div>
            </div>
            <div class="wrap-home100">
                <h2><a href="Registration.html">Register Your Event</a></h2>
                <div>
                    <p>
                        Register your own event details here to let people
                        know about it.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>