@page
@model HomePageModel
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <h1 class="fs-50">Home Page</h1>
    <p class="fs-18">Temp Home Page</p>
</body>